$mainColor: #fa4eab;
$secondaryColor: #787a91;
$therdColor: #eeeeee;
$mainTextColor: #323232;
$paragraphColor: #99a799;
$headingColor: #444444;
$hoverTransition: 0.4s ease;
$mainHoverColor: #fe83c6;
$language: "en";
$directionText: left;
