.container {
  margin: auto;
  padding: 0;
  @include mediaQuery(mobile) {
    width: 100%;
  }
  @include mediaQuery(small) {
    width: 90%;
  }
  @include mediaQuery(meduim) {
    width: 80%;
  }
  @include mediaQuery(large) {
    width: 75%;
  }
}
